Python
pycache/ *.pyc *.pyo *.pyd .Python env/ venv/

Jupyter Notebook
.ipynb_checkpoints

Data files (si contienen información sensible)
*.csv *.xlsx data/

IDE
.vscode/ .idea/

# Carpeta temporal del análisis de datos
Analisis de datos con Python pandas/temp/
